/*!
 * Cribbb
 * I need to think of a catchy title
 * http://cribbb.com
 * @author Philip Brown
 * @version 0.0.1
 * Copyright 2013. GNU licensed.
 */

/* Import all the things */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Modules */
* {
  box-sizing: border-box;
}

.clear:before, .clear:after {
  content: '';
  display: table;
}

.clear {
  *zoom: 1;
}
.clear:after {
  clear: both;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}

/* Styles */
/* Colors */
body {
  margin: 0px;
  background-color: #343945;
}
