/*!
 * Cribbb
 * I need to think of a catchy title
 * http://cribbb.com
 * @author Philip Brown
 * @version 0.0.1
 * Copyright 2013. GNU licensed.
 */

/* Import all the things */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Modules */
* {
  box-sizing: border-box;
}

.clear:before, .clear:after {
  content: '';
  display: table;
}

.clear {
  *zoom: 1;
}
.clear:after {
  clear: both;
}

/* Wrapper */
/* Typography */
header {
  margin: auto;
  width: 1200px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}

.button {
  padding: 0.6em 1em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 1.4em;
  text-decoration: none;
  color: #000;
  border-radius: 3px;
  cursor: pointer;
}

/* Styles */
/* Colors */
body {
  margin: 0px;
  background-color: #343945;
}

.button-invert {
  border: 1px solid #a4b7d7;
  color: #fff;
}

/* Partials */
header {
  *zoom: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 0;
}
header:before, header:after {
  content: " ";
  display: table;
}
header:after {
  clear: both;
}

nav {
  display: block;
  float: left;
  margin-right: 2.5641%;
  width: 5.98291%;
  margin-left: 94.01709%;
  text-align: right;
}
nav:last-child {
  margin-right: 0;
}
