body {
  margin: 0px;
  @include font-stack-regular;
  background-color: $color-background;

  /*
  Ladies and Gentleman, The Jackson 5
  @include breakpoint(michael) {
    background-color: yellow;
  }
  @include breakpoint(jermaine) {
    background-color: green;
  }
  @include breakpoint(jackie) {
    background-color: pink;
  }
  @include breakpoint(marlon) {
    background-color: orange;
  }
  @include breakpoint(tito) {
    background-color: blue;
  }
  */

}
