@import "../../bower/neat/app/assets/stylesheets/neat";

$visual-grid: true;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.5;

// Change the grid settings
$max-width: em(1024, 10);

// Define your breakpoints
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);
