@import "../../bower/neat/app/assets/stylesheets/neat";

$visual-grid: false;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.5;

$grid-columns: 10;

// Change the grid settings
$max-width: em(1024, 10);

/*
$michael: new-breakpoint(min-width 1024px 9);
$jermaine: new-breakpoint(max-width 800px 10);
$jackie: new-breakpoint(max-width 700px 9);
$marlon: new-breakpoint(max-width 600px 8);
$tito: new-breakpoint(max-width 500px 6);
*/

