@mixin font-stack-regular {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 400;
  .wf-loading & {
    visibility: hidden;
  }
}

@mixin font-stack-semibold {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 600;
  .wf-loading & {
    visibility: hidden;
  }
}

@mixin font-stack-bold {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 700;
  .wf-loading & {
    visibility: hidden;
  }
}
