@import "_utilities";

.group:after {
  content: "";
  display: table;
  clear: both;
}

body{
  background-color: #1c1d1f;
}

.wrapper{
  margin: auto;
  width: 960px;
}

.btn{
  display: inline-block;
  padding: 11px 20px;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 1px;
  @include border-radius(3px);

  &:hover{
    margin: 1px 0 0 0;
  }
}
