@import "_utilities";
@import "_fonts";

.session-box{
  margin: 40px auto;
  padding: 40px;
  width: 400px;
  border: 1px solid #595959;
  @include border-radius(3px);

  label{
    display: block;
    margin: 0 0 5px 0;
    color: #fff;
    @include font-semibold;
    font-size: 15px;
  }

  .input-block{
    width: 100%;
    margin: 0 0 20px 0;
    padding: 7px;
    color: #fff;
    background-color: #292929;
    border: 1px;
  }

  .btn{
    color: #fff;
    border: 1px solid #595959;
  }

  .password-reset{
    margin: 20px 0 0 0;
  }

  .text-link{
    color: #fff;
    font-size: 12px;
    text-decoration: none;
  }
}
