/*!
 * Cribbb
 * I need to think of a catchy title
 * http://cribbb.com
 * @author Philip Brown
 * @version 0.0.1
 * Copyright 2013. GNU licensed.
 */

body h1 {
  background-color: red;
}

p {
  background-color: yellow;
}

span {
  background: blue;
}

table {
  background-color: green;
}
