.button {
  padding: 0.6em 1em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 1.4em;
  text-decoration: none;
  color: #000;
  border-radius: 3px;
  cursor: pointer;
}
