.button {
  padding: 0.6em 1em;
  display: inline-block;
  vertical-align: middle;
  color: #000;
  font-size: 1.3em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(255,255,255,0.3);
  @include linear-gradient(#fafafa, #eaeaea);
  border-radius: 3px;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 0 0 #fff,0 1px 1px 0 rgba(0,0,0,0.3);
  cursor: pointer;

  &:hover{
    @include linear-gradient(#eaeaea, #eaeaea);
  }
}
