/* Wrapper */
$settings-wrapper-width: 1200px;

/* Typography */
$settings-typography-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$settings-typography-sans-serif: Georgia, Times, "Times New Roman", serif;
$settings-typography-monospaced: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$settings-typography: $settings-typography-serif;
